programming_files
./coregen-tmp
gameduino-200a.ngc_xst.xrpt
gameduino-200a_ngdbuild.xrpt
top_map.xrpt
top_par.xrpt
gameduino-200a.mcs
gameduino-200a.cfi
gameduino-200a.prm
gameduino-200a.bin
gameduino-200a.bgn
gameduino-200a.bit
gameduino-200a.drc
gameduino-200a_bd.bmm
gameduino-200a_par.ncd
gameduino-200a_par.par
gameduino-200a_par.pad
gameduino-200a_par_pad.csv
gameduino-200a_par_pad.txt
gameduino-200a_par.grf
gameduino-200a_par.ptwx
gameduino-200a_par.unroutes
gameduino-200a_par.xpi
gameduino-200a.ncd
gameduino-200a.pcf
gameduino-200a.ngm
gameduino-200a.mrp
gameduino-200a.map
smartguide.ncd
gameduino-200a.psr
gameduino-200a_summary.xml
gameduino-200a_usage.xml
gameduino-200a.ngd
gameduino-200a.bld
xlnx_auto_0_xdb
top.lso
gameduino-200a.srp
netlist.lst
xst
gameduino-200a.ngc
gameduino-200a.prj
gameduino-200a.scr
gameduino-200a.post_map.twr
gameduino-200a.post_map.twx
smartpreview.twr
gameduino-200a.twr
gameduino-200a.twx
smartpreview.twr
gameduino-200a_err.twr
gameduino-200a_err.twx
